:root {
  --primary-font: "Bree Serif", serif;
  --primary-color: 0, 119, 182; // #0077B6
  --secondary-color: 73, 174, 242; // #49AEF2
  --third-color: 144, 224, 239; // #72E0EF
  --fourth-color: 202, 240, 248; // #CAF0F8
  --fifth-color: 3, 4, 94; // #03045E
}
